@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    /*Device*/
    --chd-device-width: 1280px;
    --chd-device-height: 1024px;
    --dg-device-width: 1024px;
    --dg-device-height: 1280px;
}

    *::-webkit-scrollbar {
        display: none;
    }

.search-container input[type=text] {
    display: none;
}
