main {
    position: absolute;
    left: 0;
    height: var(--main-article-available-height);
    width: 100%;
}

article {
    position: relative;
    padding: 0 !important;
}

    article ::deep * {
        max-width: var(--main-article-available-width);
    }
