.keys {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

    .keys .key-row {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 0.5rem;
        border-bottom: 1px solid var(--chd-bg-lighter);
        padding: 0.2rem;
    }

        .keys .key-row:hover {
            background: var(--chd-primary-transparent);
        }

        .keys .key-row.active {
            background: var(--chd-primary-semi-transparent);
        }

        .keys .key-row:last-child {
            border-bottom: none;
        }


@media only screen and (max-width: 400px) {
    .keys .key-row {
        grid-template-columns: repeat(6, 1fr);
    }
}
