.timer-control ::deep .timer {
    margin-top: 1rem;

}

.side-widget-container .side-widget .widget-content .round-result-compact {
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
    align-items: flex-end;
}

    .side-widget-container .side-widget .widget-content .round-result-compact .round-result {
        font-weight:bold;
    }
