@using chd.UI.Base.Client.Implementations.Authorization
@using chd.UI.Base.Components.General
@using chd.UI.Base.Components.General.Pagination
@using chd.UI.Base.Contracts.Enum
@using chdScoring.App.UI.Pages.Components
@using chdScoring.App.UI.Pages.Components.Management
@inherits chd.UI.Base.Components.Base.PageComponentBase<int,int>
@page "/competitionmanagement"
@attribute [chdAuthorize<int>(Rights = new int[] { RightConstants.CompMgmt })]


@if (this._dto is not null)
{
    <div class="timer-control">
        <Timer CancellationToken="this._cts.Token" Dto="this._dto" Airfield="1" />
    </div>
}
<SideWidgetContainer>
    <SideWidget FAClass="whistle">
        <JudgeCompact Dto="this._dto" />
    </SideWidget>
    <SideWidget OnClick="this.LoadRoundResult" FAClass="ranking-star">
        <RoundResultCompact Results="this._results" />
    </SideWidget>
</SideWidgetContainer>

<FloatingActionNavigation FAIconActive="floppy-disk" OnClick="async () => await this.SaveRound()" TextActive="Save Round">
    @if (this._dto is not null)
    {
        <FloatingActionButton FAClass="pause"
                              OnClick="async () => await this.SetBreak()"
                              Title="Break"
                              CssClass="dot-btn-save large" />
    }

    <FloatingActionButton FAClass="forward-step"
                          OnClick="async () => await this.LoadNextPilot(true)"
                          Title="Next Pilot"
                          CssClass="dot-btn-save large" />

    <FloatingActionButton FAClass="forward"
                          OnClick="async () => await this.LoadNextPilot()"
                          Title="Choose Pilot"
                          CssClass="dot-btn-save large" />

    <FloatingActionButton FAClass="floppy-disks"
                          OnClick="async () => await this.CalculateTBL()"
                          Title="Calculate Round (TBL)"
                          CssClass="dot-btn-save large" />

    <ChdAuthorizeView TRightId="int" TUserId="int" Rights="new []{RightConstants.Database}">
        <FloatingActionButton FAClass="database"
                              OnClick="async () => await this.LoadDatabaseData()"
                              Title="Choose Database"
                              CssClass="dot-btn-save large" />
    </ChdAuthorizeView>
</FloatingActionNavigation>

