.controlcenter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 0.5rem;
}

    .controlcenter-container .competition-control {
        display: grid;
        gap: 0.5rem;
    }

        .controlcenter-container .competition-control ::deep button.btn {
            height: 3rem;
            background: var(--chd-bg-lighter);
        }

        .controlcenter-container .competition-control ::deep button.btn svg {
            height: 1.5rem;
        }

    .controlcenter-container ::deep .judges-score-control{
        justify-self:start;
        align-self:end;
    }


    @media only screen and (max-width: 400px) and (orientation:portrait) {
        .controlcenter-container .competition-control {
        grid-template-columns: repeat(2,1fr);
    }
}
