
.control-center {
    padding: 0.2rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

    .control-center .maneouvres {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

        .control-center .maneouvres .maneouvre {
            display: flex;
            flex-direction: row;
            gap: 0.2rem;
            border-bottom: 1px dashed var(--chd-grey);
        }

            .control-center .maneouvres .maneouvre:hover {
                background-color: var(--chd-main-color-theme-semi-transparent);
            }

            .control-center .maneouvres .maneouvre:last-child {
                border-bottom: none;
            }

            .control-center .maneouvres .maneouvre .figur-id {
            }

            .control-center .maneouvres .maneouvre .figur {
                width: max(20rem,75%);
                overflow: scroll;
                height: 1.5rem;
            }

            .control-center .maneouvres .maneouvre .judge-scores {
                display: flex;
                flex-direction: row;
            }

                .control-center .maneouvres .maneouvre .judge-scores .judge-score {
                    width: 4rem;
                    text-align: center;
                }

                    .control-center .maneouvres .maneouvre .judge-scores .judge-score.needs-attention {
                        border: 3px solid var(--chd-red);
                        border-radius: 15px;
                    }


@media (max-width: 400px) {
    .control-center .maneouvres .maneouvre .figur {
        display: none;
    }
}
