
.control-center {
    padding: 0.2rem;
}

    .control-center .timer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 40pt;
    }

        .control-center .timer .pilot {
        }

        .control-center .timer .time {
            font-weight: bold;
        }

        .control-center .timer .control {
        }

            .control-center .timer .control ::deep .btn {
                border-radius: 1rem;
            }

                .control-center .timer .control ::deep .btn svg {
                    height: 3rem;
                }

    .control-center .live {
        display: grid;
        grid-template: 1fr;
        grid-gap: 0.2rem;
    }

        .control-center .live .maneouvres {
        }

            .control-center .live .maneouvres .maneouvre {
                display: flex;
            }

                .control-center .live .maneouvres .maneouvre .empty {
                    min-width: 3rem;
                }

                .control-center .live .maneouvres .maneouvre .figur {
                    width: 75%;
                    overflow: hidden;
                    height: 1.5rem;
                }

                .control-center .live .maneouvres .maneouvre .judges {
                    display: flex;
                    flex-direction: row;
                }

                    .control-center .live .maneouvres .maneouvre .judges .judge-score {
                        min-width: 3rem;
                        text-align: right;
                    }

        .control-center .live .results {
            display: flex;
        }

            .control-center .live .results .empty {
                width: 75%;
            }

            .control-center .live .results .judge-result {
                text-align: right;
                min-width: 3rem;
            }

            .control-center .live .results .total-result {
                text-align: right;
                min-width: 3rem;
            }
