
.rounds-dropdown {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    padding: 0.2rem;
}

    .rounds-dropdown ::deep .droplist-wrapper {
    }

.control-center {
    padding: 0.2rem;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

    .control-center .maneouvres {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

        .control-center .maneouvres .maneouvre {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            border-bottom: 1px dashed var(--chd-grey);
            padding-bottom: 0.1rem;
        }

            .control-center .maneouvres .maneouvre:hover {
                background-color: var(--chd-main-color-theme-semi-transparent);
            }

            .control-center .maneouvres .maneouvre:last-child {
                border-bottom: none;
            }

            .control-center .maneouvres .maneouvre .figur-id {
            }

            .control-center .maneouvres .maneouvre .figur {
                width: max(22rem,80%);
                overflow: scroll;
                height: 1.7rem;
            }

            .control-center .maneouvres .maneouvre .judge-scores {
                display: flex;
                flex-direction: row;
                gap: 0.3rem;
            }

                .control-center .maneouvres .maneouvre .judge-scores .needs-attention {
                }

                .control-center .maneouvres .maneouvre .judge-scores .judge-score {
                    min-width: 2.2rem;
                    text-align: center;
                    background: var(--chd-bg);
                }




@media (max-width: 400px) {
    .control-center .maneouvres .maneouvre .figur {
        display: none;
    }
}
