.notifications {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: max-content 12rem;
    grid-gap: 0.5rem;
}

    .notifications input {
    }

    .notifications ::deep .btn {
        height: 2rem;
        grid-column: 2;
    }
