@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    /*Device*/
    --chd-device-width: 1280px;
    --chd-device-height: 1024px;
    --dg-device-width: 1024px;
    --dg-device-height: 1280px;
    --top-header-height: 2.5rem !important;
    --main-article-padding-lr: 0 !important;
    --main-article-height: calc(100% - var(--top-header-height)) !important;
    --sidebar-toggle-top: calc(var(--top-header-height) + 0.5rem) !important;
    --main-article-available-height: 100% !important;
    --chd-main-color-theme: var(--chd-lightblue);
    --chd-main-color-theme-transparent: var(--chd-lightblue-transparent);
    --chd-main-color-theme-gradient: linear-gradient(to right, transparent 0%, var(--chd-main-color-theme-transparent) 10%, var(--chd-main-color-theme) 90%);
    --chd-main-color-theme-gradient-left: linear-gradient(to left, transparent 0%, var(--chd-main-color-theme-transparent) 10%, var(--chd-main-color-theme) 90%);
    --chd-main-color-theme-semi-transparent: var(--chd-lightblue-semi-transparent);
    --widget-height: 38rem !important;
    --sidebar-width-small: 0 !important;
}

    *::-webkit-scrollbar {
        display: none;
    }


.search-container input[type=text] {
    display: none;
}

.side-widget-container .side-widget {
    top: calc(var(--top-header-height) * 2 + var(--child-index) * calc(var(--widget-button-total-size) + var(--widget-button-padding))) !important;
}

.fab-navigation {
}

    .fab-navigation .fab-navigation-control {
    }

        .fab-navigation .fab-navigation-control .btn {
            border-radius: calc(var(--floating-action-navigation-size) / 3) !important;
        }


.chd-app-modal .bm-content .multiselect-search-modal-component {
}

    .chd-app-modal .bm-content .multiselect-search-modal-component .multiselect-search-checkboxes-all {
        align-items: center;
        justify-content: space-between;
        padding: 0 0 0.1rem 0;
    }

        .chd-app-modal .bm-content .multiselect-search-modal-component .multiselect-search-checkboxes-all button.icon-button {
            padding: 0.2rem 0.4rem;
            background: var(--chd-bg-lighter);
            display: flex;
            justify-content: center;
            border-radius: 0.7rem;
        }

            .chd-app-modal .bm-content .multiselect-search-modal-component .multiselect-search-checkboxes-all button.icon-button .button-text {
                font-size: 0.8rem;
            }

            .chd-app-modal .bm-content .multiselect-search-modal-component .multiselect-search-checkboxes-all button.icon-button svg {
                display: none;
            }


    .chd-app-modal .bm-content .multiselect-search-modal-component .search-container .search-results-container .search-item .search-item-content.selected {
        background: var(--chd-sub-color-theme-gradient);
        font-weight: unset;
    }

    .chd-app-modal .bm-content .multiselect-search-modal-component button.btn.btn-secondary {
        background: var(--chd-bg-lighter);
    }

.chd-app-modal .bm-content .search-modal-component button.btn.btn-secondary {
    background: var(--chd-bg-lighter);
}

.chd-app-modal.ios .bm-content .multiselect-search-modal-component .search-container .search-results-container .search-item svg[fontawesome-icon=circle-check] {
    fill: var(--chd-ios-blue);
}

.chd-app-modal.ios .bm-content .multiselect-search-modal-component .multiselect-search-checkboxes-all button.icon-button .button-text {
    color: var(--chd-ios-blue);
}

.chd-app-modal.ios .bm-content .multiselect-search-modal-component button.btn.btn-secondary {
    color: var(--chd-ios-blue);
}

.chd-app-modal.ios .bm-content .search-modal-component button.btn.btn-secondary {
    color: var(--chd-ios-blue);
}


@media (min-width: 768px) {
    * {
        --top-header-padding-tb: 0 !important;
        --top-header-height: 1.5rem !important;
    }


    .sidebar.collapsed header .toggle {
        top: calc(var(--sidebar-toggle-top) - 1.2rem);
        left: 0.2rem;
    }

        .sidebar.collapsed header .toggle button.btn {
            background: var(--chd-main-color-theme-semi-transparent);
        }

    .top-row {
        flex-direction: row;
        justify-content: flex-start !important;
    }

    .sidebar.collapsed header .image {
        display: flex !important;
    }
}


@media (max-width: 400px) {
    * {
        --nav-toggle-height: 1.2rem !important;
        --top-header-padding-tb: 0.2 !important;
        --top-header-height: 1.5rem !important;
        --main-article-height: calc(100vh - calc(var(--top-header-height))) !important;
        --widget-width: 15rem !important;
        --widget-height: 33rem !important;
    }

    main {
        margin-top: 0 !important;
    }

    .sidebar {
        border-right: 1px solid var(--chd-grey) !important;
    }

        .sidebar.collapsed header .toggle {
            top: calc(var(--sidebar-toggle-top) - 1.1rem);
            left: 0.2rem;
        }

            .sidebar.collapsed header .toggle button.btn {
                background: var(--chd-main-color-theme-semi-transparent);
            }

        .sidebar:not(.collapsed) header .toggle {
            top: calc(var(--sidebar-toggle-top) - 0.4rem);
            left: calc(var(--sidebar-width-wide) - 0.5rem);
        }

    .top-row:not(.auth) {
        display: flex !important;
    }

    .top-row .header-panel {
        padding-left: 0.2rem;
        padding-right: 0.4rem;
    }

        .top-row .header-panel .ui-header {
        }

            .top-row .header-panel .ui-header .pageTitle {
                display: none;
            }

            .top-row .header-panel .ui-header .right-content {
                position: relative !important;
                display: flex !important;
                column-gap: 0.1rem !important;
                gap: 0.1rem;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

                .top-row .header-panel .ui-header .right-content .userBox {
                    padding-left: 1.2rem;
                    font-size: 10pt !important;
                    flex: 0 2 auto;
                    height: max-content !important;
                    width: 15rem !important;
                }

                .top-row .header-panel .ui-header .right-content .versionBox {
                    flex: 0 2 auto;
                    font-size: 10pt !important;
                    width: 10rem !important;
                    height: max-content !important;
                    margin-left: 0.5rem;
                }

                .top-row .header-panel .ui-header .right-content .networkBox {
                    flex: 0 1 auto;
                    width: 1.5rem !important;
                }

                .top-row .header-panel .ui-header .right-content .theme-mode {
                    display: none;
                }

                .top-row .header-panel .ui-header .right-content > .battery-container {
                    flex: 1 0 auto;
                    margin-left: 0.5rem;
                    flex-direction: row-reverse;
                }


    .outer input {
        width: 13rem;
    }
}

/*Modal*/
.bm-container {
    z-index: 902;
}

.blazored-modal {
    background-color: var(--chd-bg) !important;
    color: var(--chd-font-color) !important;
    max-width: 80vw !important;
    max-height: 80vh !important;
    overflow: scroll !important;
    border-color: var(--chd-main-color-theme) !important;
}

    .blazored-modal .bm-close {
        color: var(--chd-font-color) !important;
    }

    .blazored-modal::-webkit-scrollbar {
        display: none;
    }

    .blazored-modal .bm-header {
        padding: 0 !important;
    }


    .blazored-modal .blazored-modal-content {
        overflow: auto;
    }
