@using chd.UI.Base.Contracts.Enum
@using chdScoring.App.Services;
@inject ISettingManager settingManager

<div class="nav-menu">
    <NavMenuBase Visible="this.Visible">
        <MenuContent>
            <NavItem href="" Match="NavLinkMatch.All" IconFAClass="house" Title="Home" />
            @if (this._controlCodeCenterAvailable)
            {
                <NavItem href="controlcenter" IconFAClass="calculator" Title="Control Center" />
            }
        </MenuContent>
        <BottomContent>
            <AuthorizedNavItem FunctionalRights="new int[]{RightConstants.Setting}" TUserId="int" TRightId="int" Style="EIconStyle.Regular" href="settings" IconFAClass="fa-gear" Title="Settings" />
            <LoginNavItem TUserId="int" TRightId="int" Style="EIconStyle.Regular" />
        </BottomContent>
    </NavMenuBase>
</div>