body {
    margin: 0px;
}

table.judge {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

    table.judge td.left {
        width: 50%;
        height: 100%;
    }

    table.judge td.right {
        width: 50%;
    }

table.wertungen {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}

    table.wertungen th.headline {
        font-size: 15pt;
        background-color: lightblue;
        border-bottom: 1px solid;
        text-align: center;
        padding-bottom: 3px;
    }

    table.wertungen tr.header th {
        font-size: 14pt;
        border-bottom: 1px solid;
        text-align: center;
    }

    table.wertungen td {
        font-size: 15pt;
    }

        table.wertungen td.score {
            font-size: 15pt;
            font-weight: bold;
            text-align: center;
        }

    table.wertungen tr.grey td {
        background-color: lightgrey;
    }

table.panel {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
}

    table.panel td button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36pt;
        border: solid;
        font-weight: bold;
        background-color: lightblue;
        width: 100%;
        height: 100%;
    }

    table.panel button.confirm {
        background-color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25pt;
        border: solid;
        font-weight: bold;
        width: 100%;
        height: 100%;
    }

    table.panel td button:active {
        background-color: red;
    }

    table.panel td button.grey {
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36pt;
        border: solid;
        font-weight: bold;
        background-color: lightgrey;
        color: grey;
        width: 100%;
        height: 100%;
    }

    table.panel th.figur {
        font-size: 20pt;
        padding-bottom: 5px;
        font-style: italic;
        border-bottom: double;
        background-color: transparent;
    }

    table.panel th.teilnehmer {
        font-size: 18pt;
        background-color: lightblue;
        border-bottom: 1px solid;
    }

    table.panel th {
        background-color: lightblue;
        border-bottom: 1px solid;
    }

table.judge tr.name th {
    font-size: 15pt;
    background-color: lightgrey;
    border-bottom: 1px solid;
    text-align: center;
    padding: 0px;
    height: 15pt;
}

table.judge button.judgeMode {
    background-color: transparent;
    border: solid;
    background-color: lightgrey;
    margin-left: 30px;
}

    table.judge button.judgeMode:active {
        background-color: red;
    }
