
.header-panel {
    width: 100%;
}

.header-panel.online{
}

    .header-panel.offline {
        background: var(--chd-red-semi-transparent);
    }

    .header-panel ::deep .ui-header {
        width: 100%;
    }

        .header-panel ::deep .ui-header .pageTitle {
        }

        .header-panel ::deep .ui-header > .right-content {
            display: grid;
            grid-template-columns: repeat(4, max-content);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 3rem;
            align-items: center;
        }

            .header-panel ::deep .ui-header > .right-content > .userBox {
                grid-column: 1;
                grid-row: 1;
                grid-row-end: span 3;
            }

            .header-panel ::deep .ui-header > .right-content > .versionBox {
                display:none;
                grid-column: 4;
                grid-row: 1;
            }

            .header-panel ::deep .ui-header > .right-content > .userBox {
                grid-column: 1;
                grid-row: 3;
                font-size: 1rem;
                font-weight: 500;
            }

            .header-panel ::deep .ui-header > .right-content > .battery-container {

            }

@media(min-width: 768px) {
    .header-panel ::deep .ui-header .pageTitle {
        display: none
    }

    .header-panel ::deep .ui-header > .right-content {
        display: flex;
        grid-column-gap: 1rem;
    }

        .header-panel ::deep .ui-header > .right-content .userBox {
            height: var(--top-header-height);
        }

        .header-panel ::deep .ui-header > .right-content > .networkBox {
            width: 1.2rem;
        }

        .header-panel ::deep .ui-header > .right-content > ::deep .theme-mode {
            margin-right: 0.5rem;
        }

            .header-panel ::deep .ui-header > .right-content > ::deep .theme-mode .btn {
                height: 1.2rem;
                width: 1.2rem;
                border-radius: 50%;
                padding: 0.2rem;
            }

                .header-panel ::deep .ui-header > .right-content > ::deep .theme-mode .btn svg {
                    height: 0.8rem;
                }
}
