main {
    position: absolute;
    left: 0;
    height: var(--main-article-available-height);
    width: 100%;
}

    main.collapsed-nav {
        left: 0;
        width: 100%;
    }

        main.collapsed-nav ::deep * {
            --main-article-width: 100vw;
        }


article {
    position: relative;
    padding: 0 !important;
}

    article ::deep * {
        max-width: var(--main-article-available-width);
    }
