@using chd.UI.Base.Contracts.Enum
@using chdScoring.App.UI.Services;
@inject ISettingManager settingManager

<div class="nav-menu">
    <NavMenuBase Visible="this.Visible">
        <ImageContent>
            <IconButton FAClass="plane" OnClick="()=>this.GoHome()" />
        </ImageContent>
        <MenuContent>
            <NavItem href="" Match="NavLinkMatch.All" IconFAClass="house" Title="Home" />
            <AuthorizedNavItem TRightId="int" TUserId="int" Rights="new int[]{RightConstants.Scoring}" href="scoring" Match="NavLinkMatch.All" IconFAClass="whistle" Title="@PageTitleConstants.Scoring" />
            <AuthorizedNavItem TUserId="int" TRightId="int" Rights="new int[]{RightConstants.ControlBoard}" href="controlcenter" IconFAClass="calculator" Title="Control Center" />
            <AuthorizedNavItem TUserId="int" TRightId="int" Rights="new int[]{RightConstants.Correction}" href="correction" IconFAClass="pen-to-square" Title="Score Correction" />
            <AuthorizedNavItem TUserId="int" TRightId="int" Rights="new int[]{RightConstants.CompMgmt}" href="competitionmanagement" IconFAClass="stopwatch" Title="Competition Management" />
            <AuthorizedNavItem TUserId="int" TRightId="int" Rights="new int[]{RightConstants.Devices}" Style="EIconStyle.Regular" href="devices" IconFAClass="tablet"  Title="Devices" />
            <AuthorizedNavItem TUserId="int" TRightId="int" Rights="new int[]{RightConstants.Print}" Style="EIconStyle.Regular" href="printfiles" IconFAClass="print"  Title="Print Files" />
            @if (this._useUix)
            {
                <AuthorizedNavItem TUserId="int" TRightId="int" Rights="new int[]{RightConstants.UIX}" href="uix" IconFAClass="flask" Title="UI Xperiments" />
            }
        </MenuContent>
        <BottomContent>
            <AuthorizedNavItem Rights="new int[]{RightConstants.Setting}" TUserId="int" TRightId="int" Style="EIconStyle.Regular" href="settings" IconFAClass="fa-gear" Title="Settings" />
            <LoginNavItem TUserId="int" TRightId="int" Style="EIconStyle.Regular" />
        </BottomContent>
    </NavMenuBase>
</div>