<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<variable name="fileName" value="./Logs/Default_${shortdate}.log"/>
	<variable name="archivedFileName" value="./Logs/Archive/archived-Default_{#####}.log"/>

	<variable name="linePrefix" value="${longdate} | ${pad:padding=-5:inner=${uppercase:${level}}} | ${logger} |"/>
	<variable name="exceptionFormat" value="${onexception:${newline} - ${exception:format=toString}}"/>

	<targets>
		<target xsi:type="File"
			name="File"
			fileName="${fileName}"
			layout="${linePrefix} ${message} ${exceptionFormat}"
			archiveFileName ="${archivedFileName}"
			maxArchiveDays="30"
			archiveAboveSize="104857600"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM-dd"
			archiveEvery="Day"
			keepFileOpen="true"
			openFileCacheTimeout="30"
			concurrentWrites="true"
			cleanupFileName="false" />

		<target xsi:type="ColoredConsole"
			name="Console"
			useDefaultRowHighlightingRules="true"
			layout="${linePrefix} ${message} ${exceptionFormat}" />
	</targets>

	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />

		<logger name="*" minlevel="Debug" writeTo="File">
			<filters defaultAction="Log">
				<when condition="contains('${message}', 'Livebit')" action="Ignore"/>
			</filters>
		</logger>

		<logger name="*" minlevel="Error" writeTo="EventLog" />
		<logger name="*" minlevel="Debug" writeTo="Console">
			<filters defaultAction="Log">
				<when condition="contains('${message}', 'Livebit')" action="Ignore"/>
			</filters>
		</logger>
	</rules>
</nlog>