body{
	margin:0px;
}
table{
	font-family:Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	width:100%;
	-webkit-print-color-adjust: exact;
	border-bottom:1px solid;
}
th{
	text-align:right;
	padding-bottom: 5px;
	padding-top:5px;
	padding-right:10px;

}
td{
	font-size:12pt;
	text-align:left;
	padding-right:10px;
	padding-left:5px;	
}
td.min{
	text-decoration:line-through;
}
tr.headline th{
	font-size:20pt;
	text-align:center;
	border-bottom:1px solid black;
}
tr.header th{
	font-size:16pt;
	border-bottom: 1px solid black;
	text-align:left;
	background-color:lightblue;
}
tr.header {
	border-left:1px solid;
	border-right:1px solid;
}
tr.header_small {
	border-left:1px solid;
	border-right:1px solid;
}
tr.header_small th{
	font-size:10pt;
	border-bottom: 1px solid black;
	border-top: 1px solid;
	text-align:center;
	background-color:lightblue;
}
tr.header_small td{
	font-size:10pt;
	text-align:left;
	background-color:lightblue;
}
tr.kopf th{
	font-size:16pt;
	padding-bottom:0.5cm;
}
tr.gerade{
	background-color:lightgrey;
	border-left:1px solid;
	border-right:1px solid;
}
tr.ungerade{
	border-left:1px solid;
	border-right:1px solid;
}
td.zahl{
	text-align:right;
}
tr.header_small th.zahl{
	text-align:right;
}
