body{
	margin:0px;
}
table {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	text-align:center;
}
th.headline {
	font-size:60pt;
	background-color:lightblue;
	padding:10px;
	border-bottom: solid;
	text-align:center;
}
th.header {
	padding:10px;
	background-color:lightgrey;
	font-size:55pt;
	font-style:italic;
	border-bottom:double;
	text-align:center;
}
th.info_text {
	font-size:40pt;
	text-align:center;
}
th.info_text img{
	vertical-align:bottom;
	max-height:700px;
	max-width:900px;
	margin-top:10px;
}
