.drop-score-panel {
    display: flex;
    flex-direction: column;
    height: var(--main-article-height);
}

    .drop-score-panel .pilot {
        text-align: center;
        font-size: 0.9rem;
        font-weight: bold;
        border-bottom: 0.1rem solid var(--chd-font-color);
        height: 1.3rem;
    }

    .drop-score-panel .maneouvre {
        height: 5.5rem;
        font-size: 1.5rem;
        line-height: 1;
        text-align: center;
        overflow: scroll;
    }

    .drop-score-panel .score-pad {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    }

        .drop-score-panel .score-pad ::deep .btn {
            height: 4.8rem;
            aspect-ratio: 1/1;
            border-radius: 1rem;
            background: var(--chd-bg-lighter);
            padding: 0.375rem 0.75rem;
        }

            .drop-score-panel .score-pad ::deep .btn svg {
                height: max-content;
                margin: 0.4rem;
            }

            .drop-score-panel .score-pad ::deep .btn.icon-button-eye-slash {
                grid-column: 2;
                grid-row: 2;
            }

            .drop-score-panel .score-pad ::deep .btn.icon-button-0 {
                grid-column: 2;
                grid-row: 3;
            }

            .drop-score-panel .score-pad ::deep .btn.icon-button-floppy-disk {
                grid-column: 3;
                grid-row: 4;
                background: var(--chd-main-color-theme);
            }

            .drop-score-panel .score-pad ::deep .btn.icon-button-plus {
                grid-column: 3;
                grid-row: 2;
            }

            .drop-score-panel .score-pad ::deep .btn.icon-button-minus {
                grid-column: 3;
                grid-row: 3;
            }

            .drop-score-panel .score-pad ::deep .btn.icon-button-headphones {
                grid-column: 3;
                grid-row: 1;
            }
            .drop-score-panel .score-pad ::deep .btn.icon-button-floppy-disk.disabled {
                background: var(--chd-bg);
                border: 1px solid var(--chd-main-color-theme);
            }
                .drop-score-panel .score-pad .score-control-value {
            font-size: 4rem;
            text-align: center;
            align-content: center;
            grid-column: 1/2;
            grid-row: 2/4;
        }
