.figure-table {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

    .figure-table .ft-row {
        padding: 0.1rem 0;
        display: grid;
        grid-template-columns: max-content auto max-content;
        gap: 0.2rem 0.5rem;
        border-bottom: 1px solid var(--chd-bg-lighter);
        border-radius: 0.1rem;
    }
        .figure-table .ft-row:last-child {
            border-bottom:none;
        }
        .figure-table .ft-row:nth-child(odd) {
            background: var(--chd-grey-transparent);
        }

        .figure-table .ft-row:active,
        .figure-table .ft-row:hover {
            background:var(--chd-main-color-theme-transparent);
        }

        .figure-table .ft-row.ft-header {
            background: var(--chd-main-color-theme-semi-transparent);
            display: grid;
            grid-template-columns: max-content auto max-content;
            display:none;
        }

        .figure-table .ft-row.current {
            background-color: var(--chd-green-semi-transparent);
            border: 1px solid var(--chd-green);
        }


        .figure-table .ft-row .ft-content {
            padding: 0 0.1rem;
            display: flex;
            gap: 0.2rem
        }

            .figure-table .ft-row .ft-content.score {
                padding-right: 0.5rem;
                font-size: 1.2rem;
            }

                .figure-table .ft-row .ft-content.score.saved {
                    font-weight: bold;
                    text-align: right;
                }
