.timer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-content: center;
    justify-content: center;
    align-items: center;
}

    .timer .pilot {
        font-size: 1.3rem;
        line-height: 1;
        text-align:center;
    }

    .timer .time {
        text-align: center;
        font-size: 7rem;
        line-height: 1.2;
    }

    .timer .control {
    }

        .timer .control ::deep .btn {
            height: 6rem;
            aspect-ratio: 1/1;
            border-radius: 1rem;
            background: var(--chd-bg-lighter);
            padding: 0.375rem 0.75rem;
        }
       
        .timer .control > ::deep svg {
            height: 6rem;
            aspect-ratio: 1/1;
            border-radius: 100%;
            border: 1px solid;
            padding:1rem;
        }

            .timer .control ::deep .btn svg {
                height: max-content;
            }

            .timer .control ::deep .btn.icon-button-circle-play {
            }

            .timer .control ::deep .btn.icon-button-circle-stop {
            }
