@using chd.UI.Base.Client.Implementations.Authorization
@using chd.UI.Base.Components.General
@using chd.UI.Base.Components.General.Pagination
@using chd.UI.Base.Contracts.Enum
@using chdScoring.App.Pages.Components
@inherits chd.UI.Base.Components.Base.PageComponentBase<int,int>
@page "/competitionmanagement"
@attribute [chdAuthorize<int>(Rights = new int[] { RightConstants.CompMgmt })]


@if (this._dto is not null)
{
    <div class="timer-control">
        <Timer CancellationToken="this._cts.Token" Dto="this._dto" Airfield="1" />
    </div>
}


<SideWidgetContainer>
    <SideWidget FAClass="whistle">
        @if (this._dto is not null)
        {
            <div class="round-result-compact">
                @foreach (var judge in this._dto.Judges.OrderBy(o => o.Id))
                {
                    <JudgeResultCompact Judge="judge" Maneouvres="this._dto.ManeouvreLst[judge.Id]" />
                }
                <div class="round-result">
                    @((this._currentAvgScore ?? 0).ToString("n1"))
                </div>
            </div>
        }
    </SideWidget>
</SideWidgetContainer>

<FloatingActionNavigation>
    <FloatingActionButton FAClass="floppy-disk"
                          OnClick="async () => await this.SaveRound()"
                          Title="Save Round"
                          CssClass="dot-btn-save large" />

    <FloatingActionButton FAClass="forward"
                          OnClick="async () => await this.LoadNextPilot()"
                          Title="Load Pilot"
                          CssClass="dot-btn-save large" />
</FloatingActionNavigation>

