@page "/"
@using chdScoring.App.Pages.Components
@if (this._dto != null)
{
        <div class="scoring">
            <FigurTable Maneouvres="this.Maneouvres" />
            <ScorePanel CancellationToken="this._cts.Token" Judge="this.Judge" Pilot="this._dto.Pilot" PanelDisabled="this._panelDisabled" Round="this._dto.Round.Id" Maneouvre="this.Maneouvres.FirstOrDefault(x => x.Current)" />
        </div>
}