.scoring {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    padding-top: 0.5rem;
    height: 100%;
    overflow: hidden;
}

    .scoring ::deep div {
    }

        .scoring ::deep div.figure-table {
            width: 65%;
            overflow: scroll;
            overflow-y: scroll;
            overflow-x: scroll;
            height: auto;
        }

        .scoring ::deep div.score-panel {
            width: 40%;
        }
