@inherits chd.UI.Base.Components.Base.PageComponentBase<int,int>
@page "/settings"

<h3>Settings</h3>
<p>
    Basis Adresse:
    <input type="text" value="@this._baseAddress" @onchange="async (e)=>await this.UpdateMainUrl(e)" />
</p>
<div class="container view-container">
    <div class="setting-header">Filter Views</div>
    <SettingCheckbox SettingText="Navigation automatisch ausblenden" Checked="@this._autocollapseNav" OnChange="async (e)=> await UpdateAutoCollapeseNavBar(e)" />
</div>
<p>
    Als ControlCenter verwenden:
        <input type="checkbox" checked="@this._isControlCenter" @onchange="async (e)=> await this.UpdateIsControlCenter(e)" />
</p>
