@page "/uix"
@inherits PageComponentBase<int,int>
@implements IDisposable
@using Blazored.Modal.Services
@using chd.UI.Base.Client.Implementations.Authorization
@using chd.UI.Base.Client.Implementations.Services
@inject INotificationManagerService notificationService
@inject IModalService modal

@attribute [chdAuthorize<int>(Rights = new int[] { RightConstants.UIX })]


<div class="notifications">
    <label>Title:</label>
    <input type="text" @bind-value="this._title" />

    <label>Message:</label>
    <input type="text" @bind-value="this._message" />
    <IconButton FAClass="comment" OnClick="this.Alert" />
</div>

@code
{
    private string _title;
    private string _message;

    protected override async Task OnInitializedAsync()
    {
        this.notificationService.NotificationReceived += this.NotificationReceived;
        await base.OnInitializedAsync();
    }

    private async Task Alert()
    {
        this.notificationService.SendNotification(this._title, this._message);
    }

    private async void NotificationReceived(object sender, NotificationEventArgs e)
    {
        await this.modal.ShowDialog(e.Message, chd.UI.Base.Contracts.Enum.EDialogButtons.OK);
    }

    public void Dispose()
    {
        this.notificationService.NotificationReceived -= this.NotificationReceived;
    }
}