<ChdAuthorizeView TRightId="int" TUserId="int" Rights="this._rights">
    @if (this.DatabaseConnections?.Any() ?? false)
    {
        <div class="database-dropdown">
            <DropListWrapper T="string" Values="this.DatabaseConnections" Value="this.CurrentDatabaseConnection" ValueChanged="this.OnDatabaseChanged" Context="db">
                @db
            </DropListWrapper>
        </div>
    }

</ChdAuthorizeView>

