.judge-result-compact {
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 0.3rem;
    border-bottom: 1px dashed var(--chd-font-color);
}

    .judge-result-compact .judge-data {
        display: flex;
        gap: 0.2rem;
    }

        .judge-result-compact .judge-data .judge-data-text {
            text-decoration: underline;
            font-size: 12pt;
        }

        .judge-result-compact .judge-data ::deep .btn {
            width: 1.2rem;
            height: 1.2rem;
        }

            .judge-result-compact .judge-data ::deep .btn svg {
                height: 0.6rem;
            }

    .judge-result-compact .judge-result {
    }

    .judge-result-compact .judge-result-count {
    }
