@using chdScoring.Contracts.Dtos;

<Table Items="this.Maneouvres.OrderBy(o => o.Id)">

    <HeaderContent>
        <TableHead>#</TableHead>
        <TableHead>Manoevre</TableHead>
        <TableHead>Score</TableHead>
    </HeaderContent>
    <RowTemplate Context="man">
        <TableData>@man.Id.ToString("D2")</TableData>
        <TableData>@man.Name</TableData>
        <TableData>@man.Score</TableData>
    </RowTemplate>
</Table>