.figure-table {
}

    .figure-table ::deep .custom-table {
    }

        .figure-table ::deep .custom-table thead {
        }

        .figure-table ::deep .custom-table tbody {
        }

            .figure-table ::deep .custom-table tbody tr {
            }

                .figure-table ::deep .custom-table tbody tr td {
                    font-size: 1.2rem;
                }

                    .figure-table ::deep .custom-table tbody tr td.custom-table-data {
                        padding: 0 0.1rem;
                    }

                        .figure-table ::deep .custom-table tbody tr td.custom-table-data.score {
                            text-align: right;
                            padding-right: 0.5rem;
                            font-size: 1.3rem;
                            display: flex;
                            gap: 0.2rem;
                        }

                            .figure-table ::deep .custom-table tbody tr td.custom-table-data.score.saved {
                                font-weight: bold;
                            }

                            .figure-table ::deep .custom-table tbody tr td.custom-table-data.score .btn {
                                height: 1.7rem;
                                padding: 0.2rem;
                            }

                                .figure-table ::deep .custom-table tbody tr td.custom-table-data.score .btn svg {
                                }

                        .figure-table ::deep .custom-table tbody tr td.custom-table-data.current {
                            background-color: var(--chd-green);
                        }

.light-mode .figure-table ::deep .custom-table tbody tr td.custom-table-data.current {
    background-color: var(--chd-green-semi-transparent);
}
