@using chdScoring.Contracts.Dtos

<div class="judge-result-compact">
    <div class="judge-data">@this.Judge.Id - @this.Judge.Name</div>
    <div class="judge-result">@this.Maneouvres.Sum(s => s.Value * (s.Score ?? 0)).ToString("n1")</div>
    <div class="judge-result-count">@this.Maneouvres.Count(c => c.Score.HasValue)</div>
</div>

@code {
    [Parameter] public JudgeDto Judge { get; set; }
    [Parameter] public IEnumerable<ManeouvreDto> Maneouvres { get; set; }
}