.score-panel {
}

    .score-panel .pilot {
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
        border-bottom: 0.1rem solid var(--chd-font-color);
    }

    .score-panel .maneouvre {
        height: 7rem;
        font-size: 22pt;
        text-align: center;
        line-height: 1;
        overflow: scroll;
    }

    .score-panel .score-pad {
        margin-top: 0.2rem;
        display:grid;
        align-items:center;
        justify-items:center;
    }

        .score-panel .score-pad .score-control {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
            text-align: center;
        }

            .score-panel .score-pad .score-control .score-control-value {
                font-size: 40pt;
            }

            .score-panel .score-pad .score-control .score-control-button {
                display: grid;
                justify-content: center;
            }

                .score-panel .score-pad .score-control .score-control-button ::deep .btn {
                    height: 5rem;
                    width: max-content;
                    border-radius: 1rem;
                    padding: 1rem;
                }

                    .score-panel .score-pad .score-control .score-control-button ::deep .btn svg {
                        height: max-content;
                        margin: 0.5rem;
                    }

        .score-panel .score-pad .score-numpad {
            margin-top: 1rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
            width:80%;
        }

            .score-panel .score-pad .score-numpad ::deep .btn {
                height: 6rem;
                width: 6rem;
                border-radius: 1rem;
                margin: auto;
            }

                .score-panel .score-pad .score-numpad ::deep .btn svg {
                    height: max-content;
                    margin: 0.6rem;
                }

    .score-panel.panel-disabled .score-pad .score-control .score-control-button ::deep .btn {
        background-color: var(--chd-grey);
    }

    .score-panel.panel-disabled .score-pad .score-numpad ::deep .btn {
        background-color: var(--chd-grey);
    }
