.theme-mode {
    height: 1.2rem;
    width: 1.2rem;
}

    .theme-mode ::deep .btn {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        padding: 0.2rem;
    }

        .theme-mode ::deep.btn svg {
            height: 75%;
        }
