.timer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-content: center;
    justify-content: center;
    align-items: center;
}

    .timer .pilot {
        font-size: 14pt;
        width: 10rem;
    }

    .timer .time {
        text-align: center;
        font-size: 5rem;
    }

    .timer .control {
        height: 5rem;
    }

        .timer .control ::deep .btn {
            height: 7em;
            border-radius: 30%;
        }
        .timer .control ::deep .btn svg {
            height: 80%;
        }

            .timer .control ::deep .btn.icon-button-circle-play {
            }

            .timer .control ::deep .btn.icon-button-circle-stop  {
            }

        
