* {
    /*Device*/
    --main-article-padding-lr: 0 !important;
    --main-article-height: 100vh !important;
    --main-article-width: 100vw !important;
    --main-article-available-height: 100vh !important;
    --main-article-available-width: 100vw !important;
    --chd-main-color-theme: var(--chd-lightblue);
    --chd-main-color-theme-transparent: var(--chd-lightblue-transparent);
    --chd-main-color-theme-gradient: linear-gradient(to right, transparent 0%, var(--chd-main-color-theme-transparent) 10%, var(--chd-main-color-theme) 90%);
    --chd-main-color-theme-gradient-left: linear-gradient(to left, transparent 0%, var(--chd-main-color-theme-transparent) 10%, var(--chd-main-color-theme) 90%);
    --chd-main-color-theme-semi-transparent: var(--chd-lightblue-semi-transparent);
}

    *::-webkit-scrollbar {
        display: none;
    }

.page {
    color: var(--chd-font-color) !important;
    fill: var(--chd-font-color) !important;
}